body {
    background: #e6e6e6;
}
/* ---------- feedback ---------- */

#feedback {
  top: 20%;
  font-size: 12px;
  right: 24px;
  position: fixed;
  width: 280px;
  z-index: 9999;
  right: -280px;
  transition: all .5s ease-in-out;
}
#feedback.show {
    right: 0;
}

#feedback header {
  background: #293239;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  position: absolute;
  left: -63px;
  transform: rotate(-90deg);
  text-align: center;
  top: 44%;
}

#feedback h4:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

#feedback h4 {
  font-size: 13px;
  margin: 0;
  padding: 12px;
}

#feedback input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  outline: none;
  width: 234px;
}

.chat {
  background: #f7f7f7;
  border: 1px solid #ddd;
  padding: 15px;
}

.chat-feedback {
  font-style: italic;
  font-size: 13px;
  padding: 6px 3px;
}
.main-search-btn {
  transition: all .35s;
  background: orange;
  border: transparent;
  color: #fff;
  padding: 7px 16px;
}
.main-search-btn:hover {
   color: #fff;
}
